### 参考：python机器学习及实践

In [1]:
import numpy as np 
import pandas as pd

### 1 准备数据源

In [2]:
df_train = pd.read_csv('../Datasets/Breast-Cancer/breast-cancer-train.csv')
df_test = pd.read_csv('../Datasets/Breast-Cancer/breast-cancer-test.csv')

In [3]:
df_test_negative = df_test.loc[df_test['Type'] == 0][['Clump Thickness', 'Cell Size']]
df_test_positive = df_test.loc[df_test['Type'] == 1][['Clump Thickness', 'Cell Size']]

### 元数据

In [4]:
# 数据表基本信息(元数据)
print(df_train.info())

# 维度
print(df_train.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 4 columns):
Unnamed: 0         524 non-null int64
Clump Thickness    524 non-null int64
Cell Size          524 non-null int64
Type               524 non-null int64
dtypes: int64(4)
memory usage: 16.5 KB
None
(524, 4)

In [5]:
# 简单的数据采样
df_train.sample(n=5)

     Unnamed: 0  Clump Thickness  Cell Size  Type
94           88                1          1     0
314         647                1          1     0
363         606                1          1     0
360         496                1          1     0
327          96                1          1     0

In [6]:
# 简单的数据采样
df_test_positive.sample(n=5)

     Clump Thickness  Cell Size
22                 7          4
85                10         10
27                 5          5
109                5          3
141                3          3

### 2 数理统计分析

In [7]:
# 数据表描述性统计
df_train_stat=df_train[['Clump Thickness','Cell Size','Type']]
df_train_stat.describe().round(2).T #round函数设置显示小数位，T表示转置

                 count  mean   std  min  25%  50%  75%   max
Clump Thickness  524.0  3.17  3.05  1.0  1.0  1.0  5.0  10.0
Cell Size        524.0  3.29  3.01  1.0  1.0  2.0  5.0  10.0
Type             524.0  0.35  0.48  0.0  0.0  0.0  1.0   1.0

In [8]:
# 数据表中所有字段间的协方差
df_train_stat.cov()

                 Clump Thickness  Cell Size      Type
Clump Thickness         9.283406   8.450236  1.191394
Cell Size               8.450236   9.085867  1.192401
Type                    1.191394   1.192401  0.228278

In [9]:
# 数据表的相关性分析
df_train_stat.corr()

                 Clump Thickness  Cell Size      Type
Clump Thickness         1.000000   0.920094  0.818408
Cell Size               0.920094   1.000000  0.827956
Type                    0.818408   0.827956  1.000000